.custom-card {
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 10px;
    border-color: #ffffff;
    width: 500px;
 }

 .custom-cardheader {
    background-color: ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center; 

 }

 .custom-formlabel {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 18px;
  
 }
 
 .underline-on-hover {
   text-decoration: none;
 }

 .custom-font {
   font-family: '', Monospace;
   font-weight: bold;
   margin-left: 5px;
   font-size: 20px;
   
}

 .custom-font1 {
   font-family: 'Menlo','Monaco','Courier New', Courier, monospace;
   font-weight: bold;
   margin-left: 2px;
   font-size: 25px;
   color:#00769a;
   
}
.custom-font2 {
   font-family: 'Menlo','Monaco','Courier New', Courier, monospace;
   font-weight: bold;
   margin-left: 2px;
   color:#10304e;
   font-size: 16px;
}
.custom-form-control {
   border: 1px solid #ccc;
   border-radius: 8px;
   padding: 10px;
   width: 100%;
   transition: border-color 0.2s;
 }
 
 .custom-form-control:focus {
   border-color: #007bff;
 }
 
 .custom-button {
   background-color: #2c82cd;
   border: none;
   border-radius: 8px;
   color: #fff;
   font-weight: bold;
   padding: 10px;
   width: 100%;
   transition: background-color 0.2s;
 }
 
 .custom-button:hover {
   background-color: #ace4e6;
   color: #333;
}
 
 .custom-logo {
   max-width: 100px; 
   max-height: 100px; 
 }
 